@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #f9fafb;
  color: #111827;
  margin: 0;
  padding: 0;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Dark mode overrides */
.dark body {
  background-color: #111827;
  color: #f9fafb;
}

.dark a {
  color: #50c3dc;
}
